## Pandas GroupBy Operations


The "group by" concept: we want to **apply the same function on subsets of your dataframe, based on some key to split the dataframe in subsets**

This operation is also referred to as the "split-apply-combine" operation, involving the following steps:

* **Splitting** the data into groups based on some criteria
* **Applying** a function to each group independently
* **Combining** the results into a data structure

### Understanding GroupBy objects

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("../data/weather_by_cities.csv")

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.info()

In [ ]:
df.day.unique()

In [ ]:
df.city.unique()

In [ ]:
df.event.unique()

In [ ]:
df.groupby('city')

In [ ]:
g = df.groupby('city')

In [ ]:
type(g)

![](../img/group_by_cities.png)

In [ ]:
g.groups

In [ ]:
l = list(g)

In [ ]:
l

In [ ]:
len(l)

In [ ]:
l[0]

In [ ]:
type(l[0])

In [ ]:
l[0][0]

In [ ]:
l[0][1]

In [ ]:
type(l[0][1])

In [ ]:
l[1]

In [ ]:
g.get_group('mumbai')

In [ ]:
g.get_group('paris')

In [ ]:
g.max()

In [ ]:
g.min()

In [ ]:
g.describe()

### Splitting with many Keys

In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv("../data/summer.csv")

In [ ]:
summer.head()

In [ ]:
summer.info()

In [ ]:
summer.Country.nunique()

In [ ]:
split1 = summer.groupby("Country")

In [ ]:
split1

In [ ]:
type(split1)

In [ ]:
l = list(split1)
l

In [ ]:
len(l)

In [ ]:
l[100][1]

In [ ]:
split1.get_group('HUN')

In [ ]:
split2 = summer.groupby(by = ["Country", "Gender"])

In [ ]:
l2 = list(split2)
l2

In [ ]:
len(l2)

In [ ]:
l2[104]

In [ ]:
l2[104][0]

In [ ]:
l2[104][1]

In [ ]:
split2.get_group(('HUN', 'Women'))

In [ ]:
summer.Gender.unique()

### split-apply-combine explained

![](../img/split_apply_combine.png)
**This method of splitting your dataset in smaller groups and then applying an operation 
(such as min or max) to get aggregate result is called Split-Apply-Combine. It is illustrated in a diagram below**

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("../data/LungCapData.xls")

In [ ]:
df.head()

In [ ]:
df.groupby('Gender')

In [ ]:
df.groupby("Gender").mean()

In [ ]:
df.groupby("Gender").LungCap.min()

In [ ]:
df.groupby("Gender")[["LungCap", "Age"]].max()

In [ ]:
type(df.groupby("Gender").mean())

In [ ]:
new_df = df.groupby("Gender").mean()

In [ ]:
new_df

### split-apply-combine applied

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_table("../data/pulse.txt")

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.Age.mean()

In [ ]:
df.groupby("Gender").Height.mean()

In [ ]:
df.Height.mean()

In [ ]:
df.Age.mean()

In [ ]:
df.groupby("Gender").Age.mean()

In [ ]:
df.groupby("Smokes").Age.mean()

### Advanced Aggregation with agg()

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_table("../data/pulse.txt")

In [ ]:
df.head()

In [ ]:
df.groupby("Gender").mean()

In [ ]:
df.groupby("Gender").min()

In [ ]:
df.groupby("Gender").agg(["min", "max", "mean", "median", "std"])

In [ ]:
df.groupby("Gender").agg({"Height": ["min", "max", "mean", "median", "std"],
                          "Weight": ["min", "max", "mean", "median", "std"]})

### GroupBy Aggregation with Relabeling

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_table("../data/pulse.txt")

In [ ]:
df.head()

In [ ]:
df.groupby("Gender").Height.mean()

In [ ]:
df.groupby("Gender").agg(avg_height = ("Height", "mean"))

In [ ]:
df.groupby("Gender").agg({"Weight": ["mean", "std"], "Height": ["mean", "std"]})

In [ ]:
df.groupby("Gender").agg(avg_height = ("Height", "mean"), 
                         avg_weight = ("Weight", "mean"), 
                         avg_age = ("Age", "mean"))

### Transformation with transform()

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_table("../data/pulse.txt")

In [ ]:
df.head()

In [ ]:
df.groupby(["Gender", "Smokes"]).Age.transform("mean")

In [ ]:
df["group_mean_age"] = df.groupby(["Gender", "Smokes"]).Age.transform("mean")

In [ ]:
df.head()

### Replacing NA Values by group-specific Values

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("../data/titanic.csv")

In [ ]:
titanic.head(20)

In [ ]:
titanic.info()

In [ ]:
titanic.isnull().sum()

In [ ]:
mean_age = titanic.age.mean()
mean_age

In [ ]:
titanic.age.fillna(mean_age)

In [ ]:
titanic.groupby(["sex", "pclass"]).age.mean()

In [ ]:
titanic["group_mean_age"] = titanic.groupby(["sex", "pclass"]).age.transform("mean")

In [ ]:
titanic.head()

In [ ]:
titanic.age.fillna(titanic.group_mean_age, inplace = True)

In [ ]:
titanic.head()

In [ ]:
titanic.info()

In [ ]:
titanic.isnull().sum()

### Generalizing split-apply-combine with apply()

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("../data/titanic.csv", usecols = ["survived", "pclass", "sex", "age", "fare"])

In [ ]:
titanic.head()

In [ ]:
titanic.groupby("sex").mean()

In [ ]:
female_group = list(titanic.groupby("sex"))[0][1]
female_group

In [ ]:
female_group.mean().astype("float")

In [ ]:
def group_mean(group):
    return group.mean()

In [ ]:
group_mean(female_group)

In [ ]:
titanic.groupby("sex").apply(group_mean)

In [ ]:
titanic.nlargest(5, "age")

In [ ]:
def five_oldest_surv(group):
    return group[group.survived == 1].nlargest(5, "age")

In [ ]:
titanic.groupby("sex").apply(five_oldest_surv)

### Hierarchical Indexing (MultiIndex) with Groupby

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("../data/titanic.csv", usecols = ["survived", "pclass", "sex", "age", "fare"])

In [ ]:
titanic

In [ ]:
summary = titanic.groupby(["sex", "pclass"]).mean()

In [ ]:
summary

In [ ]:
summary.index

In [ ]:
summary.loc[("female", 2), :]

In [ ]:
summary.loc[("female", 2), "age"]

In [ ]:
summary.swaplevel().sort_index()

In [ ]:
summary.reset_index()

### stack() and unstack()

In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv("../data/summer.csv")

In [ ]:
summer.head()

In [ ]:
medals_by_country = summer.groupby(["Country", "Medal"]).Medal.count()

In [ ]:
medals_by_country

In [ ]:
type(medals_by_country)

In [ ]:
medals_by_country.loc[("USA", "Gold")]

In [ ]:
medals_by_country.shape

In [ ]:
medals_by_country.unstack(level = -1)

In [ ]:
medals_by_country = medals_by_country.unstack(level = -1, fill_value= 0)

In [ ]:
medals_by_country.head()

In [ ]:
medals_by_country.shape

In [ ]:
medals_by_country = medals_by_country[["Gold", "Silver", "Bronze"]]

In [ ]:
medals_by_country.sort_values(by = ["Gold", "Silver", "Bronze"], ascending = [False, False, False], inplace = True)

In [ ]:
medals_by_country.head(10)

In [ ]:
medals_by_country.stack().unstack().head()